*{
  /* background-color: #000000; */
  margin: 0;
  padding: 0;
}
  .outerContainer{
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .innerContainer{
      border-radius: 1px;
      height: 620px;
      width: 750px;
      overflow: hidden;
      display: flex;
   }
  .left{
    background-image: url("../images/city.jpg");
    background-position: center;
    background-size: cover;
    flex: 1.5;
    background-color: black;
  } 
  .right{
    background-color: rgba(0, 0, 0, 0.475);
    flex: 1;
  }
  .title {
    float: right;
    font-family: "Oxygen", sans-serif;
    padding: 0 20px 0 0;
    gap: 0px;
    
  }
  
  .title h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .title h3 {
    font-size: 25px;
    font-weight: bold;
    color: #eee;
    margin-top: 0px;
    text-align: right;
  }
  .date-time {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 28%;
    padding: 0 0 50px 30px;
    font-family: "Oxygen", sans-serif;
  }
  .dmy {
    margin-top: 50px;
    float: left;
    text-align: left;
    position: absolute;
  }
  
  .current-date {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
  }
  .temperature {
    width: 50%;
    float: right;
    left: 10px;
  }
  .temperature p {
    font-family: "Raleway", sans-serif;
    font-size: 80px;
    font-weight: 100;
    margin: 0 40px;
  }
  .temperature p span {
    font-size: 50px;
    font-weight: 200;
  }
  .forecast {
    height: 100%;
  }
  .forecast-icon {
    padding: 25px 0;
    /* background: white; */
  }
  .today-weather ul{
    margin: none;
    padding-right: 10%;
  }
  .today-weather ul li {
    margin: 0 auto;
    line-height: 39px;
    border-width: thin;
    border-bottom: 1px solid #777;
    color: #eee;
    font-weight: 600;
    text-align: left;
    padding-left: 20px;
    list-style-type: none;
  }
  
  .today-weather ul li span {
    float: right;
    padding-right: 10px;
  }
  
  .today-weather ul li:nth-child(5) {
    border-bottom: none;
  }
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    position: relative;
    margin-left: 30px;
    
  }
  .search-box .img-box {
    background: rgb(255, 255, 255, 0.2);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
  }
  #img {
    width: 60%;
    cursor: pointer;
  }
  .search-box .search-bar {
    border: none;
    padding: 10px 11px;
    background: transparent;
    color: white;
    border-bottom: 1px solid;
    font-size: 16px;
  }
  .search-box .search-bar::placeholder {
    color: white;
  }
  .cityHead {
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* Its Time For Media-querry */
